<footer class="footer">
  <small>    
    Made by <a href="http://www.ivanderlich.com/">Ivan Derlich</a>
    and <a href="https://github.com/ViriCruz">Gabriela Cruz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>      
      <li><a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">Specifications</a></li>
    </ul>
  </nav>
</footer>